$light-background: #f2f2f3;
$light-color: white;
$success-color: #00FF83;
$failure-color: #FF0064;

$light-border-color: #e6e6e6;

$dark-accent-color: #212121;
$dark-background-color: #333333;
$dark-border-color: #292929;

$primary-color: #0027ff;
